/* ----- CENTER LAYOUT ----- */

.about-container,
.blog-detail-container,
.blogs-container,
.chinese-container,
.home-container,
.project-detail-container,
.projects-container,
footer, header {
  padding: 0.5rem; /* margin strange behavior */
}

.about-container .center-container,
.blog-detail-container .center-container,
.blogs-container .center-container,
.chinese-container .center-container,
.home-container .center-container,
.project-detail-container .center-container,
.projects-container .center-container {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.center-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0.325rem 1rem;
}

.center-container a:link,
.center-container a:visited { 
  color: #1C1D21; 
}

.bi-list {
  font-size: 2rem;
  /* font-weight: 900; */
}

/* ----- DARK INTERFACE ----- */

header.dark, 
footer.dark { 
  background-color: #21222A;
  color: #fdfdfd;
}

.about-container.dark,
.blog-detail-container.dark,
.blogs-container.dark,
.chinese-container.dark,
.home-container.dark,
.project-detail-container.dark,
.projects-container.dark {
  background-color: #282D35;
  color: #fdfdfd;
}

.projects-container.dark .center-container a:link,
.projects-container.dark .center-container a:visited,
.blogs-container.dark .center-container a:link,
.blogs-container.dark .center-container a:visited,
.chinese-container.dark .center-container a:link,
.chinese-container.dark .center-container a:visited { 
  color: #fdfdfd; 
}

.home-container.dark a:link,
.project-detail-container.dark a:visited,
.project-detail-container.dark a:link,
.project-detail-container.dark a:visited {
  color: #fdfdfd;
}

/* ----- UTILS ----- */

.cfd9de-border { border: 2px solid #cfd9de; }
.bold { font-weight: 600; }
.italic { font-style: italic; }
.center { margin: 4px auto; }
.end { margin-bottom: 4rem;}
.pl-3 { padding: 0 0 0 30px; }
.pl-6 { padding: 0 0 0 60px; }
.pl-9 { padding: 0 0 0 90px; }
code { display: block; }
p { 
  line-height: 1.6; 
  width: fit-content;
}

/* ----- BLOG & PROJECT UTILS ----- */

.dark .quote-container,
.dark .note-container p {
  color: #e5e5de; 
}

.quote-container {
  border-left: 4px solid #918E9B;
  padding-left: 1.5rem;
  font-style: italic;
  color: #4D4D4D;
}

.image-container {
  margin: 0 auto;
  text-align: center;
}

.code-container {
  background-color: #eeeef0;
  line-height: 1.5;
  color: #1b1b32;
  padding: 20px;
  margin: 1.5em 0;
  font-size: 0.9rem;
}

.note-container p {
  margin: 0;
  font-style: italic;
  font-size: 0.9rem;
  padding: 0 0 0 30px;
  color: #4D4D4D;
}

.resources li {
  margin: 0.75rem 0;
}

.dark .code-container {
  background-color: #16181d;
  color: #fff;
}

/* ----- IMAGES ----- */

.home-image {
  width: 150px;
  margin: 2rem;
}

/* ----- MENU ----- */

.menu {
  background-color: transparent;
  border: none;
}

.menu-top {
  display: flex;
  align-items: center;
}

.menu-item {
  margin: 0.5rem 3rem;
}

.menu-top span {
  font-weight: 600;
}

.line {
  height: 4px;
  width: 28px;
  background-color: #918E9B;
  margin: 4px;
  border-radius: 5px;
}

/* ----- HEADER ----- */

header {
  box-shadow: 0 0 5px #999;
  padding: 0 1rem 1rem;
  text-align: center;
}

header a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 600;
  padding: 0.5em;
}

header .site-main {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 900;
  color: black;
  text-transform: uppercase;
  margin-bottom: 0.325rem;
}

header .theme {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto 0rem 60%;
}

.theme p {
  font-size: 0.75rem;
  margin: 0.325rem;
}

.toggle-container {
  position: relative;
  width: 45px;
  height: 25px;
  background-color: #0f1419;
  border-radius: 16px;
}

.toggle-btn {
  position: absolute;
  top: 50%;
  left: 28%;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 22px;
  background-color: #fdfdfd;
  border-radius: 50%;
  transition: 0.3s;
}

.toggle-container.dark {
  background-color: #fdfdfd;
}

.toggle-container.dark .toggle-btn {
  transform: translate(42%, -50%);
  background-color: #21222A;
}

header.dark .site-main, header.dark p { color: #fdfdfd; }
header.dark p:not(.bold) { color: #918E9B; }

.header--right nav a {
  box-shadow: inset 0 0 0 0 #2C5364;
  color: #2C5364;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.header--right nav a:hover {
  box-shadow: inset 100px 0 0 0 #2C5364;
  color: white;
}

header.dark .header--right nav a {
  box-shadow: inset 0 0 0 0 #F7FFF7;
  color: #F7FFF7;
}

header.dark .header--right nav a:hover {
  box-shadow: inset 100px 0 0 0 #F7FFF7;
  color: #21222A;
}

/* ----- FOOTER ----- */

footer {
  padding: 1rem 2rem;
  border-top: 1px solid #cfd9de;
}

footer p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

footer input, textarea {
  width: 90%;
  display: block;
  margin: 0.5rem auto;
  border-radius: 5px;
  padding: 0.5rem;
  line-height: 1.5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 0.02em;
}

footer textarea {
  resize: none;
}

footer button {
  display: block;
  margin: 1rem auto 0 75%;
  padding: 0.5rem 1rem;
  background: white;
  border-radius: 20px;
  font-weight: 700;
}

footer .contact-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

footer .contact-container div {
  justify-self: center;
  text-align: center;
}

footer.dark { border-top: none; }
footer i { font-size: 1.5rem; }

/* ----- HOME ----- */

.home-header { 
  text-align: center; 
  margin-top: 2rem;
}

.home-project-list li {
  margin: 1rem 0;
}

/* ----- ABOUT ----- */

/* ----- PROJECTS & BLOGS ----- */

.project-el, 
.post-el { 
  margin: 4rem 2rem;
}

.project-skill,
.blog-type {
  padding: 0.325rem 1rem;
  border: 1px solid #4D4D4D;
  border-radius: 5px;
  background-color: #fafafa;
  color: #4D4D4D;
  margin: 0.5rem 1rem 0 0;
}

.project-skill:hover,
.blog-type:hover {
  background: #4D4D4D;
  color: #fafafa;
  border: none;
}

.project-skill:focus,
.blog-type:focus {
  outline: none;
}

/* ----- BLOG ----- */

.filter-buttons { 
  border-bottom: 1px solid #cfd9de;
  padding-bottom: 1rem;
}

.center-container .filter-buttons { 
  border-bottom: 1.5px solid rgba(229, 231, 235, 0.5); 
}

.blog-type.selected {
  background-color: #f0ddb8;
  color: #1C1D21;
  border: none;
  font-weight: 600;
}

.post-title { 
  margin: 0.5rem 0; 
}

.post-date {
  display: block;
  margin-top: 1rem;
}

/* ----- PROJECT DETAIL ----- */

.proj-header { margin: 3rem 0; }
.proj-title { margin-bottom: 0.25rem; }
.proj-sub {
  display: flex;
  align-items: center;
}

.proj-github-link {
  text-decoration: none;
  margin-left: auto;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

@media (min-width: 415px) {
  .proj-title {
    font-size: 2.5rem;
  }
}

/* ----- CHINESE ----- */

.chinese-container .lecture {
  width: 100%;
  max-width: 600px;
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  border: 2px solid gray;
  border-radius: 10px;
}

.chinese-container .lecture ul li {
  line-height: 1.5;
}

.chinese-container .lecture.on {
  border: 2px solid royalblue;
  box-shadow: 0 0 5px #999;
}

/* ----- ANIMATION ----- */

@keyframes movement {
  0%   { transform: scale(1, 1) translate(0); }
  50%  { transform: scale(1.5, 1.5) translate(100px); }
  100% { transform: scale(1, 1) translate(260px); }
}

@keyframes set1 {
  0%   { background-color: #F7C1BB; }
  100% { background-color: #DC136C; }
}

@keyframes set2 {
  0%   { background-color: #885A5A; }
  100% { background-color: #84B082; }
}

@keyframes set3 {
  0%   { background-color: #353A47; }
  100% { background-color: #353A47; }
}

@keyframes set4 {
  0%   { background-color: #84B082; }
  100% { background-color: #885A5A; }
}

@keyframes set5 {
  0%   { background-color: #DC136C; }
  100% { background-color: #F7C1BB; }
}

.home-animation {
  margin: 10px auto;
  max-width: 340px;
  display: flex;
  gap: 5px;
}

.animation-object {
  width: 10px;
  height: 10px;
  background-color: #999;
}

.animation-object.one {
  animation: movement 4s linear 0s alternate infinite none running,
              set1 4s ease 0s alternate infinite none running;
}

.animation-object.two {
  animation: movement 4s linear 0.5s alternate infinite none running,
              set2 4s ease 0.5s alternate infinite none running;
}

.animation-object.three {
  animation: movement 4s linear 1s alternate infinite none running,
              set3 4s ease 1s alternate infinite none running;
}

.animation-object.four {
  animation: movement 4s linear 1.5s alternate infinite none running,
              set4 4s ease 1.5s alternate infinite none running;
}

.animation-object.five {
  animation: movement 4s linear 2s alternate infinite none running,
              set5 4s ease 2s alternate infinite none running;
}

/* ----- MEDIA QUERIES ----- */

@media (min-width: 415px) {
  header { padding: 0; }
  header .center-container {
      height: 60px;
      display: flex;
      align-items: center;
  }

  header .header--left {
    width: 30%;
    max-width: 240px;
    text-align: left;
  }

  header .header--right {
    width: 70%;
    max-width: 560px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  header .site-main { font-size: 1.5rem; }
  header .theme { margin: 0; }

  footer .center-container { display: flex; }
  
  footer .footer--left {
      width: 60%;
      max-width: 480px;
      margin-right: auto;
  }

  footer .footer--right {
      width: 20%;
  }

  footer .contact-container {
      display: block;
      margin-top: 45px;
  }

  footer.dark .contact-container div { border: 1px solid #fdfdfd; }
  footer .contact-container div {
      position: relative;
      width: 40px;
      height: 40px;
      border: 2px solid #0f1419;
      border-radius: 5px;
      margin-bottom: 0.4rem;
      display: flex;
      align-items: center;
  }
  
  footer .contact-container p {
      margin-left: 45px;
  }
  
  footer i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}