* { box-sizing: border-box; }

body::-webkit-scrollbar { display: none; }
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Lora', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: #fdfdfd;
  color: #0f1419;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}